/* App.css */

body,
html {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background: #222;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  z-index: 1000;
}

.navbar button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.navbar button:hover {
  color: #00bcd4;
  transform: scale(1.1);
}

/* Sections */
.section {
  position: relative;
  padding: 3rem;
}

.home-section {
  background: linear-gradient(135deg, #00bcd4, #2196f3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  gap: 1rem;
  padding: 2rem;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-image img {
  max-width: 500px;
  border-radius: 8px;
  padding-right: 15rem;
}

.home-text {
  max-width: 50%;
  padding-left: 5rem;
}


.about-section {
  background: #dce3f0;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.about-text {
  max-width: 50%;
}

.about-image img {
  max-width: 500px;
  border-radius: 10px;
  padding-left: 10rem;
}

.work-history-section {
  background: #cce0ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.work-history-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.work-history-text {
  max-width: 60%;
}

.job {
  margin-bottom: 2rem;
}

.job h3 {
  margin-bottom: 0.3rem;
}

.job p {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.job ul {
  padding-left: 1.5rem;
  line-height: 1.6;
}

.job ul li {
  margin-bottom: 0.5rem;
}

.projects {
  background: #e3f2fd;
  min-height: 30vh;
}

.contact {
  background: #f5f5f5;
  min-height: 10vh;
}

.job {
  margin-bottom: 2rem;
}

.project-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(50% - 1rem);
}

.tagline {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #171705;
  font-style: italic;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  align-self: center;
}

.icon-button svg {
  color: rgb(10, 1, 1);
  transition: transform 0.3s ease, color 0.3s ease;

}

.icon-button:hover svg {
  animation: bounce 0.6s;
  transform: translateY(0);
  color: #9f2572;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}