/* App.css */

body, html {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background: #222;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  z-index: 1000;
}

.navbar button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.navbar button:hover {
  color: #00bcd4;
  transform: scale(1.1);
}

/* Sections */
.section {
  position: relative;
  padding: 3rem;
}

.home {
  background: linear-gradient(135deg, #00bcd4, #2196f3);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  min-height: 50vh;
}

.about {
  background: #c4c3bc;
  min-height: 30vh;
}

.work-history {
  background: #fff;
  min-height: 50vh;
}

.projects {
  background: #e3f2fd;
  min-height: 30vh;
}

.contact {
  background: #f5f5f5;
  min-height: 10vh;
}

.job {
  margin-bottom: 2rem;
}

.project-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1 1 calc(50% - 1rem);
}

.tagline {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #171705;
  font-style: italic;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  margin-top: 20rem;
    bottom: 20px;
  position: absolute;
  left: 48%;
}

.icon-button svg {
  color: rgb(10, 1, 1);
  transition: transform 0.3s ease, color 0.3s ease;

}

.icon-button:hover svg {
  animation: bounce 0.6s;
  transform: translateY(0);
  color: #9f2572;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(5px); }
}
